<div class="container-home text-white">
    <div class="content">
                    <img src=""/>
                    <h2>Bienvenidos!</h2>
                    <h3>Burger Factory</h3>
                    <p>Estamos emocionados de tenerlos aquí y compartir nuestra pasión <br>por las hamburguesas con ustedes<br>logueate o registrate para comprar nuestros productos</p>
                    <div class="icon">
                        <i class="bi bi-instagram text-white"></i>
                        <i class="bi bi-facebook text-white"></i>
                        <i class="bi bi-twitter text-white"></i>
                    </div>
                </div>
        <div class="container-anuncios">
            <div class="anuncio">
                <img src="/images/anuncio 1.jpg" class="anuncio-1"/>    
            </div>
            <div class="anuncio">
                <img src="/images/anuncio 2.jpg" class="anuncio-2"/>
            </div>
            <div class="anuncio">
                <img src="/images/anuncio 3.jpg" class="anuncio-3"/>
            </div>
        </div>

        <div class="container-iframe">
            <h4>Buscanos en Olavarria 2607</h4>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d50292.63924504059!2d-57.57286402849892!3d-38.01701931339762!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9584dd8037296e0f%3A0xc5fcb501513ddad4!2sThe%20Burger%20Factory%20Olavarr%C3%ADa!5e0!3m2!1ses!2sar!4v1699733002897!5m2!1ses!2sar" width="900" height="650" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>

        <div class="contenedor-carousel">
            <h2 class="text-white">Hecha un vistazo a nuestras hamburguesas</h2>
            <div class="wrapper">
            <i id="left" class="bi bi-arrow-left"></i>
            <ul class="carousel">
                <li class="card">
                <div class="img"><img src="/images/hamburguesa-1.jpg" alt="img" draggable="false" class="img"></div>
                </li>
                <li class="card">
                <div class="img"><img src="/images/hamburguesa-2.jpg" alt="img" draggable="false" class="img"></div>
                
                </li>
                <li class="card">
                <div class="img"><img src="/images/hamburguesa-3.jpg" alt="img" draggable="false" class="img"></div>
                
                </li>
                <li class="card">
                <div class="img"><img src="/images/hamburguesa-4.jpg" alt="img" draggable="false" class="img"></div>
                
                </li>
                <li class="card">
                <div class="img"><img src="/images/hamburguesa-5.jpg" alt="img" draggable="false" class="img"></div>
                
                </li>
                <li class="card">
                <div class="img"><img src="/images/hamburguesa-6.jpg" alt="img" draggable="false" class="img"></div>
                
                </li>
                <li class="card">
                <div class="img"><img src="/images/hamburguesa-7.jpg" alt="img" draggable="false" class="img"></div>
                
                </li>
                <li class="card">
                <div class="img"><img src="/images/hamburguesa-8.jpg" alt="img" draggable="false" class="img"></div>
                
                </li>
                <li class="card">
                <div class="img"><img src="/images/hamburguesa-9.jpg" alt="img" draggable="false" class="img"></div>
                
                </li>
                <li class="card">
                <div class="img"><img src="/images/hamburguesa-10.jpg" alt="img" draggable="false" class="img"></div>
                
                </li>
                <li class="card">
                <div class="img"><img src="/images/hamburguesa-11.jpg" alt="img" draggable="false" class="img"></div>
                
                </li>
                <li class="card">
                <div class="img"><img src="/images/hamburguesa-12.jpg" alt="img" draggable="false" class="img"></div>
                
                </li>
                <li class="card">
                <div class="img"><img src="/images/hamburguesa-13.jpg" alt="img" draggable="false" class="img"></div>
                
                </li>
                <li class="card">
                <div class="img"><img src="/images/hamburguesa-14.jpg" alt="img" draggable="false" class="img"></div>
                
                </li>
                <li class="card">
                <div class="img"><img src="/images/hamburguesa-15.jpg" alt="img" draggable="false" class="img"></div>
                
                </li>
                <li class="card">
                <div class="img"><img src="/images/hamburguesa-16.jpg" alt="img" draggable="false" class="img"></div>
                
                </li>
                <li class="card">
                <div class="img"><img src="/images/hamburguesa-17.jpg" alt="img" draggable="false" class="img"></div>
                
                </li>
            </ul>
        <i id="right" class="bi bi-arrow-right"></i>
        </div>
        </div>
            
    </div>
</div> 

        
        
<script src="js/login.js"></script> 
<script src="js/carousel.js"></script>
<script src="socket.io/socket.io.js"></script>
