<div class="container-login">
    <div class="div-login">
        <div class="login rounded">
            <h1>Registrate!</h1>
            <div class="logo-login">
                <img src="/images/Burger Factory.png"alt="Burger Factory" width="320">
            </div>
            
            <form>
                <div class="mb-3">
                    <input type="text" class="form-control" id="first_name" placeholder="nombre">
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" id="last_name" placeholder="apellido">
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" id="email" placeholder="email">
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" id="age" placeholder="edad">
                </div>
                <div class="mb-3">
                    <input type="password" class="form-control" id="password" placeholder="contraseña">
                </div>
                <button type="button" class="boton" id="btnRegister"><p class="p">Registrar</p></button>
            </form>
        </div>
    </div>
</div>

<script src="js/register.js"></script>