<div class="container">
    <div class="row  p-2 mb-5 ">
        <div class="rounded col-md-5 offset-md-3 pt-5 ps-5 pe-5 pb-5 w-10 bg-white">
            <h1>Restaurá tu Contraseña!</h1>
            <img src="/images/Burger Factory.png" alt="Burger Factory" width="320">
            <form>
                <div class="mb-3">
                    <label class="form-label">Usuario</label>
                    <input type="text" class="form-control" id="email">
                </div>
                <div class="mb-3">
                    <label class="form-label">Nueva Contraseña</label>
                    <input type="password" class="form-control" id="password">
                </div>
                <button type="button" class="boton" id="btnRestore"><p class="p">Restaurar</p></button>
            </form>
        </div>
    </div>
</div>

<script src="js/restore.js"></script>